# Ignore latex traces
\#*
*.aux
*.bcf
*.fdb_latexmk
*.fls
*.log
*.out
__pycache__

# By default no PDF. List explicitly the ones we like to see committed below
*.pdf
!article.pdf

.nfs*
article.bbl
article.blg
article.run.xml

article/metadata.tex
