[submodule "inputs/opfvta_bidsdata"]
	path = inputs/opfvta_bidsdata
	url = https://bitbucket.org/TheChymera/opfvta_bidsdata
	datalad-id = d2b6ab0d-5f80-48c3-97f9-dc455522f8d2
	datalad-url = https://bitbucket.org/TheChymera/opfvta_bidsdata
[submodule "code/opfvta"]
	path = code/opfvta
	url = https://bitbucket.org/TheChymera/opfvta
	datalad-url = https://bitbucket.org/TheChymera/opfvta
[submodule "inputs/mouse-brain-templates"]
	path = inputs/mouse-brain-templates
	url = https://github.com/IBT-FMI/mouse-brain-templates
	datalad-id = 91cfee04-59a1-46f9-973e-8bae1f55552d
	datalad-url = https://github.com/IBT-FMI/mouse-brain-templates.git
