# Ignore latex traces
\#*
*.aux
*.bcf
*.fdb_latexmk
*.fls
*.log
*.out
__pycache__
.cache

# By default no binaries for publishing documents:
publishing/*.pdf
publishing/figs/*.{pdf,png}

*.nfs*
*.bbl
*.blg
*.run.xml

publishing/metadata.tex
